/* Your button CSS file */

.btn{
  border: 1px solid #3d405b;
  background-color: #3d405b;
  border-radius: 50px;
  margin: 8px 0px;
  padding: 16px 24px;
  width: fit-content;
  cursor: pointer;
  color:white;
  display: inline-block;
}


.btn:hover{
  border: 1px solid white;
  color: #3d405b;
  background-color: white;
}
